<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All test" >
    <listeners>
        <listener class-name="core.CustomTestListener"/>
     </listeners>

    <test name="Google Tests">
        <classes>
            <class name="myTest.GoogleTest">
            <methods>
                <!--<include name="openGooglePageTest"/>-->
                <!--<include name="workUaTest"/>-->
                <!--<include name="rabotaUaTest"/>-->
                <include name="moiKrugTest"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>